# STM32 CMake project files
*/.vscode/
*/build/
*/CMakeFiles/
*/cmake/
*/.mxproject
*/build.ninja
*/compile_commands.json
*/CMakeCache.txt
*/cmake_install.cmake

# Kicad files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*.net
*.dsn
*.ses
*.xml
*.csv
*/gerber/
